{% extends 'dashboard_base.html' %}

{% block body_content %}
   <div class="courses_content">
       <figure class="logo">
           <img src="{{ url_for('static', filename='imgs/logo-alt.svg') }}" alt="PWClaudio">
       </figure>
       <h1>Cursos Tomados</h1>
       <div class="courses-taken">
            {% for course in courses %}
                <div class="course">
                    <div class="course-property">
                        <i class="fa-solid fa-user-tie"></i>
                        <p>{{ course.professor }}</p>
                    </div>
                    <div class="course-property">
                        <i class="fa-solid fa-pen-clip"></i>
                        <p>{{ course.title }}</p>
                    </div>
                    <div class="course-property">
                        <i class="fa-solid fa-book-open"></i>
                        <p>{{ course.description }}</p>
                    </div>
                    <div class="course-property">
                        <i class="fa-solid fa-globe"></i>
                        <a href="{{ course.link }}" target="_blank">Ir al curso</a>
                    </div>
                    <div class="actions">
                        <a class="delete" href="{{ url_for('admin.delete_course', id=course.id) }}">Borrar</a>
                        <a class="update" href="{{ url_for('admin.update_course', id=course.id) }}">Actualizar</a>
                    </div>
                </div>
            {% endfor %}
       </div>
   </div> 
{% endblock body_content %}
