<!-- templates/admin/edit_reservation.html -->
{% extends 'dashboard_base.html' %}

{% block main_content %}
<h2 class="section-header">Editar Habitaciones</h2>

<!-- Mostrar mensajes de flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="alert-container">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<div class="form-model">
    <form method="POST" action="{{ url_for('admin.edit_reservation', reservation_id=reservation.id) }}" id="reservation-form">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="booking_id">{{ form.booking_id.label }}</label>
            {{ form.booking_id }}
        </div>
        <div class="form-group">
            <label for="start_date">Fecha de Inicio</label>
            <input type="text" id="start-date" name="start_date" class="form-control datepicker" value="{{ form.start_date.data }}">
        </div>
        <div class="form-group">
            <label for="start_time">Hora de Inicio (Formato: HH:MM)</label>
            <input type="text" id="start-time" name="start_time" class="form-control" placeholder="HH:MM" value="{{ form.start_time.data }}">
        </div>
        <div class="form-group">
            <label for="end_date">Fecha de Fin</label>
            <input type="text" id="end-date" name="end_date" class="form-control datepicker" value="{{ form.end_date.data }}">
        </div>
        <div class="form-group">
            <label for="end_time">Hora de Fin (Formato: HH:MM)</label>
            <input type="text" id="end-time" name="end_time" class="form-control" placeholder="HH:MM" value="{{ form.end_time.data }}">
        </div>
        <div class="form-group">
            <label for="type">{{ form.type.label }}</label>
            {{ form.type }}
        </div>
        <div class="form-group">
            <label for="requirement">{{ form.requirement.label }}</label>
            {{ form.requirement }}
        </div>
        <div class="form-group">
            <label for="adults">{{ form.adults.label }}</label>
            {{ form.adults }}
        </div>
        <div class="form-group">
            <label for="children">{{ form.children.label }}</label>
            {{ form.children }}
        </div>
        <div class="form-group">
            <label for="requests">{{ form.requests.label }}</label>
            {{ form.requests }}
        </div>
        <button class="button add" type="submit">Guardar Cambios</button>
        <a href="{{ url_for('admin.reservations') }}" class="custom-link">Volver</a>
    </form>
</div>

<!-- Incluir bibliotecas de JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<!-- Inicializar el selector de fecha -->
<script>
$(document).ready(function() {
    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        startDate: new Date()
    });
});
</script>
{% endblock %}
