<!-- new_reservation.html -->
{% extends 'dashboard_base.html' %}
{% block main_content %}
        <h2 class="section-header">Nueva Reserva</h2>
<div class="form-model">

    <form method="POST" action="{{ url_for('admin.add_reservation') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="booking_id">{{ form.booking_id.label }}</label>
            {{ form.booking_id }}
        </div>
        <div class="form-group">
            <label for="start">{{ form.start.label }}</label>
            {{ form.start }}
        </div>
        <div class="form-group">
            <label for="end">{{ form.end.label }}</label>
            {{ form.end }}
        </div>
        <div class="form-group">
            <label for="type">{{ form.type.label }}</label>
            {{ form.type }}
        </div>
        <div class="form-group">
            <label for="requirement">{{ form.requirement.label }}</label>
            {{ form.requirement }}
        </div>
        <div class="form-group">
            <label for="adults">{{ form.adults.label }}</label>
            {{ form.adults }}
        </div>
        <div class="form-group">
            <label for="children">{{ form.children.label }}</label>
            {{ form.children }}
        </div>
        <div class="form-group">
            <label for="requests">{{ form.requests.label }}</label>
            {{ form.requests }}
        </div>
        <div class="form-group">
            <button class="button add" type="submit">+ Crear Reserva</button>
        </div>
    </form>
</div>
{% endblock %}
