<!-- new_reservation.html -->
{% extends 'dashboard_base.html' %}
{% block main_content %}
<div class="new-reservation"> <!-- class="new-reservation"-->
    <h2>Nueva Reserva</h2>
    <form method="POST" action="{{ url_for('admin.add_reservation') }}">
        {{ form.csrf_token }}
        <table class="panel"> <!-- class="reservation-form"-->
            <tr>
                <th>{{ form.booking_id.label }}</th>
                <td>{{ form.booking_id }}</td>
            </tr>
            <tr>
                <th>{{ form.start.label }}</th>
                <td>{{ form.start }}</td>
            </tr>
            <tr>
                <th>{{ form.end.label }}</th>
                <td>{{ form.end }}</td>
            </tr>
            <tr>
                <th>{{ form.type.label }}</th>
                <td>{{ form.type }}</td>
            </tr>
            <tr>
                <th>{{ form.requirement.label }}</th>
                <td>{{ form.requirement }}</td>
            </tr>
            <tr>
                <th>{{ form.adults.label }}</th>
                <td>{{ form.adults }}</td>
            </tr>
            <tr>
                <th>{{ form.children.label }}</th>
                <td>{{ form.children }}</td>
            </tr>
            <tr>
                <th>{{ form.requests.label }}</th>
                <td>{{ form.requests }}</td>
            </tr>
        </table>
        <button class="button add" type="submit">+ Crear Reserva</button>
    </form>
</div>

{% endblock %}