<!-- reservation.html -->
{% extends 'dashboard_base.html' %}
{% block main_content %}
    <h2 class="section-header"> Gestor de Reservas Múltiples</h2>
<div class="panel">
    <div class="panel__header">
        <div class="input__wrapper">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" placeholder="Search for anything...">
        </div>
    </div>
    <div class="panel__body">
        <div class="filter__wrapper">
            <div class="filter__controls">
            <span class="filter__label">Filters:</span>
            <select class="filter__select">
                <option value="all">All</option>
                <option value="this-week">This week</option>
                <option value="this-month">This month</option>
                <option value="completed">Completed</option>
                <option value="in-progress">In progress</option>
            </select>
            </div>
            <a href="{{ url_for('admin.add_reservation') }}" class="button add">+ Add New</a>
        </div>
        <div class="panel__table">
            <table>
                <thead>
                    <tr>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Tipo</th>
                        <th>Requisito</th>
                        <th>Adultos</th>
                        <th>Niños</th>
                        <th>Solicitudes</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.start }}</td>
                        <td>{{ reservation.end }}</td>
                        <td>{{ reservation.type }}</td>
                        <td>{{ reservation.requirement }}</td>
                        <td>{{ reservation.adults }}</td>
                        <td>{{ reservation.children }}</td>
                        <td>{{ reservation.requests }}</td>
                        <td>
                            <a href="{{ url_for('admin.edit_reservation', reservation_id=reservation.id) }}" class="button edit">Edit</a>
                            <form action="{{ url_for('admin.delete_reservation', reservation_id=reservation.id) }}" method="post" style="display:inline;">
                                <button type="submit" class="button delete">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}