body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f5f7;
    color: #333;
}

.layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 80px;
    background-color: #363940;
    border-right: 1px solid #E0E0E0;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    box-sizing: border-box;
}

.sidebar.expanded {
    width: 300px;
}

.expand-btn {
    cursor: pointer;
    margin-bottom: 20px;
}

.expand-btn svg {
    transition: transform 0.3s ease;
}

.sidebar.expanded .expand-btn svg {
    transform: rotate(180deg);
}

.search__wrapper {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #4a4d54;
    color: #fff;
}

.search__wrapper svg {
    margin-right: 12px;
    color: #fff;
}

.search__wrapper input {
    border: none;
    background: none;
    width: 100%;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
}

.sidebar-links {
    width: 100%;
}

.sidebar-links h2 {
    padding: 0 20px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    display: none;
}

.sidebar-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-links li {
    width: 100%;
}

.sidebar-links a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    position: relative;
    box-sizing: border-box;
}

.sidebar-links a svg {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.sidebar-links .link {
    display: none;
}

.sidebar.expanded .sidebar-links .link {
    display: inline;
}

.tooltip__content {
    position: absolute;
    left: 60px;
    background: #000;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    display: none;
}

.sidebar-links a:hover .tooltip__content {
    display: block;
}

.sidebar.expanded .tooltip__content {
    display: none;
}

main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.user__section {
    margin-top: auto;
    padding-bottom: 20px;
}

.user__link {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #4A516D;
    position: relative;
}

/* Estilos del Panel */

.section-header {
    font-size: 24px;
    margin-bottom: 20px;

}

.panel {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 1px solid #ddd;
}

.panel__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.panel__header .input__wrapper {
    display: flex;
    align-items: center;
    width: 50%;
}

.panel__header .input__wrapper input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f4f5f7;
    color: #333;
}

.filter__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter__label {
    margin-right: 10px;
    font-weight: 700;
}

.filter__select {
    margin-right: 20px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.panel__table {
    width: 100%;
    overflow-x: auto; /* Hacer la tabla responsiva */
}

.panel__table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.panel__table table th,
.panel__table table td {
    padding: 6px 8px; /* Reduce el padding para hacer las celdas más pequeñas */
    min-width: 100px; /* Reduce el ancho mínimo para ajustar mejor el contenido */
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #f4f5f7;
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    font-size: 16px; /* Disminuye el tamaño de la fuente para reducir el tamaño de las celdas */
    vertical-align: center; /* Alinea el contenido al inicio de la celda verticalmente */
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

.status.completed {
    background-color: #4CAF50;
}

.status.in-progress {
    background-color: #FF9800;
}

.user__section {
    padding: 1rem;
    border-top: 1px solid #e0e0e0;
}

.user__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #4A516D;
    text-decoration: none;
    padding: 0.5rem 0;
}

.user__link i {
    font-size: 1.25rem;
}

.user__link:hover {
    background-color: #f0f0f0;
    border-radius: 0.25rem;
}

/* Estilos generales para los formularios */
.form-model {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-model h2, .form-model h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
}

/* button serie*/
.button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    margin-top: 10px;
}

.button.submit {
    background-color: #1E90FF;
    color: white;
}

.button.submit:hover {
    background-color: #1C86EE;
    box-shadow: 0 4px 8px rgba(30, 144, 255, 0.2);
}

.button.search,
.button.add,
.button.edit,
.button.delete {
    color: white;
    text-decoration: none;
}

.button.search:hover,
.button.add:hover,
.button.edit:hover,
.button.delete:hover {
    box-shadow: 0 4px 8px rgba(30, 144, 255, 0.2);
}

.custom-link {
    display: inline-block; /* Hace que el enlace se comporte como un bloque */
    padding: 10px 20px; /* Agrega espacio alrededor del enlace */
    border-radius: 5px; /* Añade bordes redondeados */
    background-color: #0f0f0f; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    text-decoration: none; /* Quita el subrayado */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
    margin-top: 10px; /* Agrega espacio encima del enlace */
}

.custom-link:hover {
    background-color: #333; /* Cambia el color de fondo al pasar el cursor sobre el enlace */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra al pasar el cursor */
}
.button.search {
    background-color: #f37f20;
}

.button.edit {
    background-color: #2196F3;
}

.button.delete {
    background-color: #f44336;
}

.button.add {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button.add:hover {
    background-color: #45a049;
}

/* Estilos CSS para la paginación */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 5px;
}

.pagination strong {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 0 5px;
}
