<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels Paradise</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Manrope:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="light-theme">
    <!-- Header -->
    <header class="header">
        <div class="menu">
            <img class="menu-icon" src="./static/imgs/burger-menu.svg" title='Burger Menu' alt='Burger Menu' onclick="toggleMenu()">
            <ul class="navigation">
                <li><a href="#home" title="Home">Home</a></li>
                <li><a href="#rooms" title="Rooms">Rooms</a></li>
                <li><a href="#services" title="Services">Services</a></li>
                <li><a href="{{ url_for('auth.contact_us') }}">Contact Us</a></li>
            </ul>
        </div>
        <div class="auth">
            <div class="search"><i class="fas fa-search"></i></div>
            <div class="dark-mode"><i class="fas fa-sun"></i></div>
            <div class="signin" id="signin">
                <a href="#">Sign In</a>
            </div>
            <div class="signup">
                <a href="{{ url_for('auth.signup') }}">Sign Up</a>
            </div>
        </div>
        <script src="./static/js/header.js"></script>
    </header>

    <!-- Main Content -->
    <div class="container">
        <main class="hero" id="home">
            <div class="hero-text">
                <h2>Welcome to Paradise</h2>
                <h3>Discover the luxury experience</h3>
                <h2>in the heart of the city</h2>
                <p>Enjoy an unforgettable stay at Hotel Paradise.<br>
                    Book your room today and live the luxury and comfort you deserve!</p>
                <button class="btn-cta">Book Now</button>
                <small>*Exclusive offers for online bookings</small>
            </div>
            <div class="hero-image">
                <img src="./static/imgs/hotels-bedroom.jpg" alt="Hotel Bedroom">
            </div>
        </main>

        <!-- Sign In Form -->

        <!-- Rooms Section -->
        <section class="rooms" id="rooms">
            <h2>Our Rooms</h2>
            <div class="room-gallery">
                <img src="./static/imgs/hotels-bedroom.jpg" alt="Bedroom">
                <img src="./static/imgs/hotels-door.jpg" alt="Door">
                <img src="./static/imgs/hotels-read-person.jpg" alt="Person Reading">
            </div>
        </section>

        <!-- Services Section -->
        <section class="services" id="services">
            <h2>Our Services</h2>
            <p>We offer a variety of services to make your stay comfortable and enjoyable.</p>
            <!-- Add service details here -->
        </section>

        <!-- Contact Us Section -->
        <section class="contact-us">
            <h2>Contact Us</h2>
            <p>Feel free to reach out to us for any inquiries or reservations.</p>
            <div class="contact-content">
                <div class="lottie-animation">
                    <dotlottie-player src="./static/imgs/animation_llqd7ey4.lottie" autoplay loop></dotlottie-player>
                </div>
                <div id="contact-container">
                    <form class="contact-form" method="POST" novalidate>
                        {{ form.hidden_tag() }}
                        <label for="name">Hello! My name is</label>
                        {{ form.name(class="input-field", placeholder="Full Name", maxlength=80, id="contact-name") }}
                        {% for error in form.name.errors %}
                            <small style="color: red;">{{ error }}</small>
                        {% endfor %}
                        <label for="email">and I want to discuss a potential project. You can email me at</label>
                        {{ form.email(class="input-field", placeholder="your@email") }}
                        {% for error in form.email.errors %}
                            <small style="color: red;">{{ error }}</small>
                        {% endfor %}
                        <label for="phone">or reach out to me on</label>
                        {{ form.phone(class="input-field", placeholder="your phone") }}
                        {% for error in form.phone.errors %}
                            <small style="color: red;">{{ error }}</small>
                        {% endfor %}
                        <label for="complaints_details">Here are some details about my project:</label>
                        {{ form.complaints_details(class="textarea-field", placeholder="My project is about...", rows=3) }}
                        {% for error in form.complaints_details.errors %}
                            <small style="color: red;">{{ error }}</small>
                        {% endfor %}
                        <input type="submit" value="send request" class="submit-button" />
                    </form>
                </div>
            </div>
        </section>
        <script>
        // JavaScript específico para el formulario de contacto
        document.querySelector(".contact-form").addEventListener("submit", function(event) {
            // Evita que el formulario se envíe
            event.preventDefault();

            // Realiza acciones adicionales aquí, como enviar los datos a un servidor
            // o mostrar un mensaje de confirmación al usuario
        });
    </script>

        <!-- Incluye el script de @dotlottie/react-player -->
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.js"></script>
    <script src="./static/main.js"></script>
    </div>
</body>
        <footer class="footer-bottom">
            <div class="footer-bottom-wrapper">
                <small>© <span id="year"></span> Programming With Claudio</small>
                <ul class="footer-bottom-links">
                    <li>
                        <a href="#" title="Terms">Terms</a>
                    </li>
                    <li>
                        <a href="#" title="Privacy">Privacy</a>
                    </li>
                    <li>
                        <a href="#" title="Security">Sitemap</a>
                    </li>
                    <li>
                        <a href="#" title="Security"> Address</a>
                    </li>
                </ul>
                <div class="social-wrapper">
                    <div class='social-links'>
                        <ul>
                            <li>
                                <a href="#" title="Facebook">
                                    <img src="./static/imgs/facebook.svg" alt='Facebook'>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Instagram">
                                    <img src="./static/imgs/instagram.svg" alt='Instagram'>
                                </a></a>
                            </li>
                            <li>
                                <a href="#" title="Linkedin">
                                    <img src="./static/imgs/linkedin.svg" alt='Linkedin'>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Twitter">
                                    <img src="./static/imgs/twitter.svg" alt='Twitter'>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Youtube">
                                    <img src="./static/imgs/youtube.svg" alt='YouTube'>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </footer>
    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
</html>
