<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | EDteam</title>
    <style>
        .logout {
            width: 150px;
            height: 33px;
            color: white;
            background-color: red;
            border-radius: 25px;
        }
        .logout a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
  <h1>Welcome {{ current_user.firstname }} {{ current_user.lastname }} to your dashboard EDteam!!!</h1>
    <div class="logout">
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>
