<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Manrope:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="layout">
        <nav class="sidebar">
            <div class="expand-btn">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00979 2.72L10.3565 7.06667C10.8698 7.58 10.8698 8.42 10.3565 8.93333L6.00979 13.28"
                        stroke="#4A516D" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <div class="search__wrapper">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 9L13 13M5.66667 10.3333C3.08934 10.3333 1 8.244 1 5.66667C1 3.08934 3.08934 1 5.66667 1C8.244 1 10.3333 3.08934 10.3333 5.66667C10.3333 8.244 8.244 10.3333 5.66667 10.3333Z"
                        stroke="#697089" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <input type="search" placeholder="Search for anything...">
            </div>
            <div class="sidebar-links">
                <h2>Panel</h2>
                <ul>
                    <li>
                        <a href="/dashboard" title="Home" class="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                                <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                            </svg>
                            <span class="link hide">Home</span>
                            <span class="tooltip__content">Home</span>
                        </a>
                    </li>
                                        <li>
                        <a href="/dashboard/customers" title="Customers" class="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                              <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                              <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                              <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
                            </svg>
                            <span class="link hide">Customers</span>
                            <span class="tooltip__content">Customers</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/bookings" title="Bookings" class="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-box" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5"></path>
                                <path d="M12 12l8 -4.5"></path>
                                <path d="M12 12l0 9"></path>
                                <path d="M12 12l-8 -4.5"></path>
                            </svg>
                            <span class="link hide">Bookings</span>
                            <span class="tooltip__content">Bookings</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/reservations" title="Bedrooms" class="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bed" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M7 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                <path d="M22 17v-3h-20" />
                                <path d="M2 8v9" />
                                <path d="M12 14h10v-2a3 3 0 0 0 -3 -3h-7v5z" />
                            </svg>
                            <span class="link hide">Bedrooms</span>
                            <span class="tooltip__content">Bedrooms</span>
                        </a>
                    </li>

                    <li>
                        <a href="/dashboard/pricing" title="Map Prices" class="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-receipt-2" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2"></path>
                                <path d="M14 8h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5m2 0v1.5m0 -9v1.5"></path>
                            </svg>
                            <span class="link hide">Map Prices</span>
                            <span class="tooltip__content">Map Prices</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/settings" title="Settings" class="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.588 1.046c1.523 -.998 3.263 .742 2.265 2.265a1.724 1.724 0 0 0 1.046 2.588c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.046 2.588c.998 1.523 -.742 3.263 -2.265 2.265a1.724 1.724 0 0 0 -2.588 1.046c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.588 -1.046c-1.523 .998 -3.263 -.742 -2.265 -2.265a1.724 1.724 0 0 0 -1.046 -2.588c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.046 -2.588c-.998 -1.523 .742 -3.263 2.265 -2.265a1.724 1.724 0 0 0 2.588 -1.046z">
                                </path>
                                <circle cx="12" cy="12" r="3"></circle>
                            </svg>
                            <span class="link hide">Settings</span>
                            <span class="tooltip__content">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user__section">
                <a href="/dashboard/settings" title="User Profile" class="user__link">
                    <i class="fa-solid fa-user"></i>
                    {{ current_user.firstname }} {{ current_user.lastname }}
                </a>
                <a href="{{ url_for('auth.logout') }}" title="Logout" class="user__link">
                    <i class="fa-solid fa-right-from-bracket"></i> salir
                </a>
            </div>
        </nav>

        <main class="main">
            {% block main_content %}
            {% endblock main_content %}
        </main>
    </div>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const expandBtn = document.querySelector('.expand-btn');
            const sidebar = document.querySelector('.sidebar');
            const sidebarLinks = document.querySelectorAll('.sidebar-links .link');

            expandBtn.addEventListener('click', () => {
                sidebar.classList.toggle('expanded');
                sidebarLinks.forEach(link => {
                    link.classList.toggle('hide');
                });
            });
        });
    </script>
</body>

</html>

